.add-task {
	cursor: text;
	font-size: rem(14px);
	display: flex;
	&:hover .add-task-input {
		outline: 1px solid $input-hover-border-clr;
		border-radius: 4px;
	}

	border-bottom-left-radius: 4px;

	.add-task-input {
		all: unset;

		margin: 6px 10px;
		padding: 1px 0px 1px 16px;
		max-width: 177px;
	}
}
