.add-task {
	cursor: text;
	font-size: rem(14px);
	display: flex;
	border-block-end: 1px solid $border-clr;

	& > * {
		border-inline-end: 1px solid $border-clr;
	}

	&:hover .add-task-input {
		outline: 1px solid $input-hover-border-clr;
		border-radius: 4px;
	}

	border-bottom-left-radius: 4px;

	.add-task-input {
		all: unset;
		margin: 8px;
		padding-inline-start: 18px;
		line-height: 21px;

		max-width: 177px;
	}
}
