.board-list {
	width: 254px;
	background-color: $bg-clr3;

	.board-title-preview {
		cursor: pointer;
		padding: 0.5em;
		gap: 0.5em;
		color: $clr1;
		border-radius: 0.4em;

		&:hover {
			background-color: $bg-clr5;
		}

		svg {
			path {
				margin-right: 0;
			}
		}
	}
}
