.boards-list {
    background-color: $clr0;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    color: $clr1;
    border-radius: 8px;
    box-shadow: $index-layout-shadow;

    .expand-arrow-container {
        transform: rotate(-90deg);
        width: min-content;
    }

    .close-arrow-container {
        transform: rotate(180deg);
    }
}

.list-wrapper {
    padding: 1em;

    a {
        color: inherit;
    }
}

.inbox {
    .inbox-indication {
        background-color: $bg-clr1;
        color: $clr0;
        border-radius: 50%;
        width: rem(24px);
        height: rem(24px);

        span {
            font-weight: 400;
        }
    }
}