.board-header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: $clr0;
	z-index: 70;
	padding: 16px 30px 0px 38px;

	.add-group-modal {
		position: absolute;
		bottom: -30px;
		left: 110px;
		height: auto;
		padding: 8px;
		border-radius: 6px;
		background-color: $clr0;
		z-index: 99;
		box-shadow: $default-box-shadow;
		display: flex;

		span {
			height: 24px;
			width: 188px;
			padding: 4px 8px;
			color: $clr1;
			font-weight: 400;
			font-size: rem(14px);
		}

		.title {
			padding-inline-start: 0px;
		}
	}

	.board-header-top {
		height: 48px;
		display: flex;
		justify-content: center;
		@media screen and (min-width: $narrow-breakpoint) {
			justify-content: space-between;
		}

		.board-header-top-left {
			display: flex;
			align-items: center;

			overflow: hidden;
			.title-input {
				font-family: $title-font;
			}

			.board-name {
				font-size: rem(32px);
				font-weight: 500;
				margin-inline-end: 8px;
				max-width: 200px;

				div {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&:hover {
					outline: 1px solid $input-hover-border-clr;
					border-radius: 4px;
					cursor: text;
				}
			}

			.header-icon {
				display: flex;
				cursor: pointer;

				&.starred {
					svg {
						fill: gold;
					}
				}
			}
		}

		.board-header-top-right {
			font-size: em(14px);
			display: none;

			&>* {
				height: 32px;
				cursor: pointer;
			}

			.activity-container {
				display: flex;
				align-items: center;
			}

			.invite-container {
				min-width: max-content;
				display: flex;
				align-items: center;
				padding: 4px 8px;
				cursor: pointer;
				border: 1px solid $input-hover-border-clr;
				border-radius: 4px;

				svg {
					color: $icon-color;
					height: 20px;
					line-height: 22px;
					margin-inline-end: em(8px);
				}
			}

			.menu-container {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 32px;
			}

			@media screen and (min-width: $narrow-breakpoint) {
				display: flex;
				gap: 8px;
				align-self: center;
				align-items: center;
			}
		}

		.header-icon {
			color: $icon-color;
			cursor: text;
			font-family: Figtree, Roboto, Rubik, 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
			padding: 4px;
			user-select: none;
		}
	}

	.btn-new-task {
		@include btn-board-default($fontSize: em(14px), $padding: 4px 8px);
		height: 32px;
		font-family: inherit;

		&.btn-text {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&.btn-icon {
			margin-inline-end: em(14px);
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-inline-start: 1px solid $bg-clr1-darker;
		}
	}
}

.invite-members-modal {
	padding: 24px 32px 8px;
	background: $clr0;
	width: 530px;
	height: 500px;
	z-index: 99999;
	border-radius: 8px;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	img {
		border-radius: 50%;
	}

	.modal-title {
		font-size: rem(24px);
		margin-block-start: 5px;
	}

	.close-modal-btn {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 25px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	input {
		border-radius: 3px;
		padding-inline-start: 5px;
		font-size: rem(14px);
		height: 33px;
		width: 466px;
		margin-block: 20px;
	}

	.user-list {
		display: flex;
		flex-direction: column;
		gap: 1em;

		li {
			display: flex;
			align-items: center;
			gap: 10px;

			span:hover {
				color: $bg-clr1;
				font-weight: 500;
				cursor: pointer;
			}
		}
	}

	img {
		width: 28px;
		height: 28px;
	}
}

.modal-overlay {
	cursor: pointer;
	z-index: 9999;
	position: absolute;
	inset: 0;
	background-color: rgba(41, 47, 76, 0.7);
}