.header {
    height: rem(75px);
    box-shadow: $index-layout-shadow;
    background-color: $clr0;
    width: 100%;
    padding-inline: rem(75px);

    .titles-container {
        height: 75px;

        .welcome-message {
            font-weight: 400;
            font-size: 14px;
        }

        .header-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0;
            padding: 0;
            white-space: unset;
            border: 0;
        }
    }

    button[type=submit] {
        background-color: $bg-clr1;
        color: $clr0;
        height: rem(40px);
        border: none;
        font-family: Figtree;
        width: rem(127px);
        font-size: 16px;

        &:hover {
            background-color: $bg-clr1-darker;
        }
    }
}