.workspace-container {
	z-index: 2;
	position: relative;
	height: 100vh;
	background-color: $bg-clr3;
	border-inline-end: 1px solid $clr2;

	.expandable-sidebar-container {
		// height: 100%;
		padding-block-start: 12px;
		padding-inline-start: 15px;

		&.expanded {
			.expandable-sidebar {
				width: 254px;
				height: 100%;
				left: 66px;
			}
		}

		.expandable-sidebar {
			height: 100%;
			transition: width 0.2s;
			background-color: $bg-clr3;
			width: 33px;

			ul {
				padding: 1em;
			}
		}

		.open {
			width: 254px;
			height: 100%;
			left: 66px;
		}
	}

	.expand-btn {
		cursor: pointer;
		// left: 308px;
		border: 1px solid #d1d5e5;
		border-radius: 50%;
		top: 20px;
		height: 25px;
		width: 25px;
		background-color: #fff;
		transition: width 0.3s;
		z-index: 1;
		left: calc(100% - 14px);
		// position: relative;
		position: absolute;
		top: 20px;

		svg {
			color: $clr3;
			left: 3em;

			path {
				position: relative;

				&:focus {
					outline: none;
				}
			}
		}

		&:hover {
			border-radius: 2em;
			background-color: $bg-clr1;
			width: 33px;

			svg {
				color: $clr0;
			}
		}
	}
}
