.group-preview {
	& > ul {
		border-inline-start: 1px solid $border-clr;
	}
	border-block-end: 1px solid $border-clr;
	display: flex;
	flex-direction: column;
	.group-header {
		display: flex;
		align-items: center;
	}
	.task-row {
		& > * {
			flex: 1;
			user-select: none;
			height: $task-row-height;
			border-block-start: 1px solid $border-clr;
			border-inline-end: 1px solid $border-clr;
		}
	}
}
