.group-preview {
	font-size: em(18px);
	line-height: 24px;
	margin-block-end: 55px;
	border-radius: 4px;
	// display: flex;
	// flex-direction: column;

	.group-header {
		display: flex;
		align-items: center;
		margin-inline-start: 4px;

		.group-title-container {
			padding-inline: 4px;
		}

		.group-title-input {
			all: unset;
		}

		&:hover .task-count {
			opacity: 1;
		}

		.expand-arrow-container {
			cursor: pointer;
			border: none;
			margin-inline: 9px 2px;
			transform: rotate(-90deg);
		}

		.task-count {
			opacity: 0;
			transition: opacity 0.2s;
		}

		&:hover .group-option-container {
			opacity: 1;
		}

		.group-option-container {
			color: $clr1;
			opacity: 0;
			left: -30px;
			position: relative;

			.group-option {
				position: absolute;
			}
		}
	}

	.task-row {
		& > *:not(.task-option, .task-title-header, .task-title) {
			flex: 1;
			user-select: none;
			height: $task-row-height;
		}
	}
}
