.group-summary {
	margin-inline-start: 440px;
	height: $task-row-height;

	.empty-owner-container {
		border-bottom-left-radius: 8px;
	}

	.group-summary-data {
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		border-inline-start: 1px solid $border-clr;
		border-block-end: 1px solid $border-clr;
	}
	.labels-progress-bar {
		height: 36px;
		display: flex;
		.list-labels-progress-bar {
			padding: 0px;
			width: 100%;
			list-style: none;

			margin-inline: 8px;
			padding-block: 6px;

			.progress-bar-item {
				transition: transform 0.2s ease-in-out;

				&:hover {
					transition: transform 0s;
					transform: scaleY(1.2);
				}
			}
		}
	}
}
