.side-bar {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100vh;
	color: #ffffff;
	background-color: $bg-clr2;
	width: 66px;
	min-width: 66px;

	.nav-container {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.top-navigation-area {
			display: flex;
			flex-direction: column;
			align-items: center;

			ul {
				gap: 0.5em;

				li:first-child {
					margin-block-start: 0.5em;
					height: 2.5em;
					width: 2.5em;

					img {
						border-block-end: 1px solid #595c6f;
					}
				}

				li:nth-child(2) {
					margin-block-start: 0.6em;

					svg {
						height: 1.7em;
						width: 1.7em;
					}
				}
			}

			li {
				width: 2.5em;
				height: 2.5em;
				align-items: center;
				justify-content: center;

				svg {
					width: 1.5em;
					height: 1.5em;
				}

				&:first-child {
					padding: 0;

					&:hover {
						padding: 0;
					}
				}

				&:hover {
					background-color: $bg-clr4;
					border-radius: 0.4em;
				}
			}
		}

		.bottom-navigation-area {
			display: flex;
			flex-direction: column;
			align-items: center;

			ul {
				gap: 1em;
			}

			li {
				width: 2em;
				text-align: center;
				height: 2em;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: $bg-clr4;
					border-radius: 0.4em;
				}

				&[data-title='apps'] {
					svg {
						color: #6c6cff;
					}
				}

				&:last-child img {
					border: 2px solid #fff;
					border-top-width: 2px;
					border-right-width: 2px;
					border-bottom-width: 2px;
					border-left-width: 2px;
					border-top-style: solid;
					border-right-style: solid;
					border-bottom-style: solid;
					border-left-style: solid;
					border-top-color: rgb(255, 255, 255);
					border-right-color: rgb(255, 255, 255);
					border-bottom-color: rgb(255, 255, 255);
					border-left-color: rgb(255, 255, 255);
					border-image-source: initial;
					border-image-slice: initial;
					border-image-width: initial;
					border-image-outset: initial;
					border-image-repeat: initial;
					border-radius: 50%;
				}

				&:last-child {
					margin-block-end: 1em;

					&:hover {
						background-color: inherit;
					}
				}
			}
		}

		hr {
			width: 80%;
			border-color: #595c6f;
			border-block-start: none;
		}
	}
}
