.task-list-header {
	font-size: rem(14px);
	display: flex;
	border-top-left-radius: 4px;
	position: relative;

	.sticky-container {
		position: sticky;
		left: 30px;
		background-color: $clr0;
		z-index: 1;
		border-start-start-radius: 4px;
	}

	.colored-border {
		margin-block-end: -1px;
		height: calc(100% + 2px);
		width: 6px;
		border-start-start-radius: 4px;
	}

	& > * {
		border-block-start: 1px solid $border-clr;
		border-inline-end: 1px solid $border-clr;
		line-height: rem(23px);
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		position: relative;

		&:hover {
			.resizing-container {
				opacity: 1;
			}
		}
	}

	.task-title-header {
		user-select: none;
		height: $task-row-height;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.resizing-container {
		position: absolute;
		z-index: 10;
		width: 6px;
		right: -2px;
		cursor: col-resize;
		border-radius: 2px;
		height: $task-row-height;
		opacity: 0;
		background-color: $border-clr;

		&.is-dragging {
			background-color: $bg-clr1;
			opacity: 1;
		}

		&:hover {
			background-color: $bg-clr1;
			opacity: 1;
		}
	}
}
