.task-selection {
	max-width: 36px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;

	.checkbox {
		width: 16px;
		height: 16px;
		border: 1px solid $input-hover-border-clr;
		border-radius: 2px;
	}

	input {
		display: none;
		// width: 16px;
		// height: 16px;
		// cursor: pointer;
	}
}
