.task-list {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;

	& > li {
		&:focus {
			ul {
				background-color: $button-clicked-bgc;
				outline: none;
			}
		}
	}

	.active {
		background-color: $button-clicked-bgc;
	}
}
