.task-preview {
	display: flex;
	position: relative;
	height: $task-row-height;
	background-color: $clr0;
	// width: 100vw;
	border-block-start: 1px solid $border-clr;

	.sticky-container {
		border-block-end: 1px solid $border-clr;
		display: flex;
		position: sticky;
		left: 30px;
		background-color: inherit;
		z-index: 1;

		&:hover {
			background-color: $task-hover-bgc;
		}

		li {
			height: $task-row-height;
		}
	}

	.colored-border {
		margin-block-end: -2px;
		height: calc(100% + 2px);
		width: 6px;
	}

	&:hover {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;

		.task-option {
			opacity: 1;
		}
	}

	& > * {
		border-inline-end: 1px solid $border-clr;
	}

	.task-option {
		width: 25px;
		height: 35px;
		color: $clr1;
		opacity: 0;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;

		display: none;
		// font-size: rem(40px);
		// line-height: 36px;

		svg {
			height: 22px;
			width: 22px;
		}
	}

	.label-picker {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
