.task-details {
	width: em(570px);
	min-height: 100vh;
	background-color: $clr0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99999;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);

	.task-details-title {
		font-family: $title-font;
		font-weight: 500;
		font-size: rem(18px);
		margin-inline-start: 1em;
		padding: 4px 4px;
		width: 80%;

		span {
			width: 100%;

			&:hover {
				outline: 1px solid $input-hover-border-clr;
				width: 300px;
				border-radius: 4px;
				cursor: text;
			}
		}

		input {
			all: unset;
			margin: 0;
			width: 300px;

			&:focus {
				background-color: unset;
				outline: 1px solid $bg-clr1;
				border-radius: 4px;
			}
		}
	}

	.close-modal-btn {
		cursor: pointer;
		svg {
			margin-inline-start: 6px;
			margin-block-start: 6px;
			width: 30px;
			height: 30px;
			color: $clr10;
		}
	}

	.editor-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-block-start: 30px;

		.update-btn {
			background-color: $bg-clr1;
			color: $clr0;
			border-radius: 4px;
			padding: 4px 8px;
			height: em(32px);
			align-self: flex-end;
			margin-inline-end: em(27px);
			margin-block-start: em(10px);
			font-size: rem(14px);
		}

		.new-post {
			width: em(520px);
			font-size: rem(16px);
			border: 1px solid $bg-clr1;
			padding: 10px 8px;
			border-radius: 8px;

			&.editor {
				min-height: em(144px);

				.ql-toolbar.ql-snow {
					border: none;
				}

				.ql-container.ql-snow {
					border: none;
				}
			}
		}
	}

	.comments-container {
		margin-block-start: em(70px);

		.no-comments {
			padding: em(40px);

			.img-container {
				display: flex;
				justify-content: center;

				img {
					height: 150px;
					width: 290px;
				}
			}

			.titles-container {
				text-align: center;
				color: $clr1;
				padding: 15px;

				h2 {
					font-family: $title-font;
					font-size: rem(24px);
					font-weight: 500;
				}

				p {
					font-weight: 400;
					font-size: rem(16px);
					margin-top: 16px;
				}
			}
		}

		.comment {
			width: em(520px);
			font-size: rem(16px);
			border: 1px solid $border-clr;
			padding: 10px 8px;
			border-radius: 8px;
			margin-block-end: 1em;

			img {
				height: 100%;
			}
		}
	}
}

.details-back-panel:has(+ .task-details:hover) {
	visibility: visible;
}
.details-back-panel {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: $transparent-overlay-clr;
	z-index: 5;
	visibility: hidden;
}
