.task-list-header {
	font-size: rem(14px);
	display: flex;
	color:$clr1;
	border-top-left-radius: 4px;
	& > * {
		line-height: rem(23px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
