* {
	box-sizing: border-box;
	user-select: none;
}

html {
	font-family: Figtree, Roboto, Rubik, sans-serif;
	line-height: 1.15;
}

body {
	margin: 0;
	height: 100%;
	overflow-wrap: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0 0.5em;
}

img {
	height: 100%;
}

a {
	text-decoration: none;
}

.btn-get-started {
	@include btn-get-started;
}

ul {
	margin: 0;
}

// .modal-up-arrow {
// 	position: absolute;
// 	width: 16px;
// 	height: 16px;
// 	background-color: $clr0;
// 	// top: $task-row-height;
// 	z-index: 999999;
// 	transform: rotate(45deg);
// }

img,
embed,
video,
object {
	max-width: 100%;
}
