// Font Sizes
.fs12 {
	font-size: rem(12px);
}

.fs14 {
	font-size: rem(14px);
}

.fs18 {
	font-size: rem(18px);
}

.fs20 {
	font-size: rem(20px);
}

.fs24 {
	font-size: rem(24px);
}

.fs28 {
	font-size: rem(28px);
}

.fs30 {
	font-size: rem(30px);
}

.title-font {
	font-family: $title-font;
}

.btn-primary {
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $button-hover-bgc;
	}
	&.active {
		background-color: $button-clicked-bgc;
	}
}

.clean-list {
	padding: 0;
	list-style: none;
}

// flex helpers

.flex {
	display: flex;

	> *.full {
		flex: 1;
	}

	&.column {
		flex-direction: column;
	}

	&.justify-center {
		justify-content: center;
	}

	&.align-center {
		align-items: center;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.space-evenly {
		justify-content: space-evenly;
	}
	&.stretch {
		align-items: stretch;
	}
}

// Sidebar helpers
.rotate-arrow-right {
	transform: rotate(180deg);
}

.rotate-arrow-left {
	transform: rotate(0deg);
}
