.group-summary {
	min-width: max-content;
	// border-inline-start: 1px solid $border-clr;
	border-block-end: 1px solid $border-clr;
	height: $task-row-height;

	.summary-data-container {
		display: flex;
	}

	.empty-margin-footer {
		position: sticky;
		left: 0px;
		width: 478px;
		background-color: $clr0;
		height: $task-row-height;
		border-inline-end: 1px solid $border-clr;
	}

	.group-summary-data {
		// border-block-end: 1px solid $border-clr;
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		border-inline-end: 1px solid $border-clr;
	}
}
