.rdp-months {
    // position: relative;
    margin-block-start: 2em;
    // left: 100%;
    border: 1px solid $clr2;
    -webkit-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.31);
    background-color: $clr0;
}

// .date-picker-container {
//     position: absolute;
//     z-index: 1;
// }

.tooltip {
    background: indianred;
}

.tooltip-hidden {
    visibility: hidden;
    pointer-events: none;
}

li.date-picker:hover {
    cursor: text;
}

.date-preview-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    .date-preview {
        width: 80%;
        height: 80%;
    }

    span.date-preview {
        display: block;
        width: fit-content;
    }

    span:hover {
        color: $clr5;
    }

    .span-container {
        width: 80%;
        height: 80%;
    }

    &:hover {
        width: 80%;
        height: 80%;
        border: 1px solid $clr4;
        // top: 10%;
        // position: relative;
    }

    .reset-btn {
        background-color: $bg-clr1;
    }
}

.date-preview {
    width: 80%;
    height: 80%;
}