.label-picker {
	cursor: pointer;
	text-align: center;
	position: relative;
	color: $clr0;

	span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: rem(14px);
		line-height: rem($task-row-height);
	}

	&:hover .corner-fold {
		border-width: 0 10px 10px 0;
	}

	.corner-fold {
		border-style: solid;
		border-color: rgba(0, 0, 0, 0.2) $clr0;
		border-width: 0;
		transition: border-width 0.3s 0.2s ease;
		position: absolute;
		top: 0;
		right: 0;
	}

	.label-picker-popup {
		position: absolute;
		top: calc($task-row-height + 5px);
		z-index: 999;
		width: 200px;
		background-color: $clr0;
		border-radius: 8px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.32);

		ul {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 16px 24px 8px 24px;

			li {
				border-radius: 2px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: rem(32px);
				width: rem(152px);
				font-size: rem(14px);
				margin-block-end: 8px;

				&.edit-label {
					color: $clr1;
				}

				&:active:not(.edit-label) {
					scale: 0.95;
				}
			}
		}

		.separator {
			height: 1px;
			width: 168px;
			background-color: $border-clr;
			margin-inline: auto;
		}

		button.edit-labels {
			background-color: inherit;
			border: none;
			display: flex;
			margin-inline: auto;
			align-items: center;
			gap: 4px;
			cursor: pointer;

			.icon {
				display: flex;
				align-items: center;
			}

			.title {
				color: $clr1;
				font-size: rem(14px);
				font-weight: 400;
				font-family: Figtree, Roboto, Rubik, sans-serif;
			}
		}
	}

	.input-container {
		position: relative;

		.remove-label-btn {
			position: absolute;
			color: black;
			right: -21px;

			input {
				color: $clr1;
			}
		}
	}
}
