.task-title {
	display: flex;
	align-items: center;
	overflow: hidden;
	font-size: rem(14px);

	.open-task-details {
		display: none;
		// flex-direction: row-reverse;

		.open {
			color: rgb(50, 51, 56);
			font-size: rem(13px);
		}

		.icon {
			font-size: rem(13px);
		}
	}

	&:hover {
		.open-task-details {
			margin-inline-end: 10px;
			display: flex;
			flex-direction: row-reverse;
			gap: 4px;
			// flex-wrap: nowrap;
			// justify-content: center;
		}
	}

	span {
		margin: 6px 10px 6px 26px;
		padding: 2px 0px 3px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		&:hover {
			outline: 1px solid $input-hover-border-clr;
			border-radius: 4px;
			cursor: text;
		}
	}

	input {
		all: unset;
		width: 100%;
		margin: 6px 10px 6px 26px;

		&:focus {
			background-color: unset;
			outline: 1px solid $bg-clr1;
			border-radius: 4px;
		}
	}
}
