.timeline-picker {
	.reset-date-btn {
		position: absolute;
		right: 0px;
		top: 4px;
		background-color: $button-hover-bgc;
		border-radius: 4px;
		color: #000000;
		width: 15px;
	}

	.timeline-popup-container {
		z-index: 1;
	}

.span-container {
	height: 20px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;

	.progress {
		position: absolute;
		// TODO: make this dynamic from react cmp
		background: linear-gradient(to right, #00c875 70%, $bg-clr6 20%);
		height: 100%;
		width: 100%;
	}
}

.range-preview {
	font-size: rem(12px);
	// background-color: $bg-clr6;
	color: $clr0;
	width: rem(107px);
	text-align: center;
	position: relative;
}

.reset-date-btn {
	position: absolute;
	right: 0px;
	top: 4px;
	background-color: $button-hover-bgc;
	border-radius: 4px;
	color: #000000;
	width: 15px;
}
	.rdp-multiple_months {
		margin: 0;
	}
	.rdp-months {
		border: 1px solid $clr2;
		-webkit-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.31);
		-moz-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.31);
		box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.31);
		background-color: $clr0;
	}

	.range-preview {
		font-size: rem(12px);
		background-color: $bg-clr6;
		border-radius: 5em;
		padding-inline: 1em;
		color: $clr0;
		width: rem(107px);
		text-align: center;
		position: relative;
	}
}

.rdp-day_selected {
	background-color: #cce5ff;
	color: $clr1;

	&:hover {
		background-color: #dcdfec;
		color: #323338;
	}
}