.kanban-group-list {
	padding-inline: 38px;
	display: flex;
	// min-width: min-content;
	gap: 20px;
	// max-height: 100%;
	overflow-y: hidden;
	height: 100%;

	&::-webkit-scrollbar-thumb {
		border-radius: 16px;
	}
}
