// Pallet
$clr1: #323338; //50,51,56
$bg-clr1: #0073ea;
$bg-clr2: #292f4c;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Fonts
$title-font: Poppins, Roboto, Rubik, sans-serif;
