// Pallet
$clr0: #ffffff;
$clr1: #323338; //50,51,56
$clr2: #d1d5e5;
$clr3: #797a7d;
$clr4: #d6dae8;
$bg-clr1: #0073ea;
$bg-clr1-darker: #0060b9;
$bg-clr2: #292f4c; //side-bar
$bg-clr3: #f6f7fb;
$bg-clr4: #10131e;
$bg-clr5: #dcdfec;
//OTHER COLORS
$task-hover-bgc: #f5f6f8;
$border-clr: #d0d4e4;
$input-hover-border-clr: #c3c6d4;
$button-hover-bgc: #dcdfec;
$icon-color: #676879;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$extra-wide-breakpoint: 1200px;

// Fonts
$title-font: Poppins, Roboto, Rubik, sans-serif;
